html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td { 
    margin: 0;
     padding: 0; }

body {
	font-family: 'Poppins', sans-serif;
	background: #121314;
}

.container {
	width: 85%;
    margin: 0 auto;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

img {
	max-width: 100%;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1;
}

.logo {
    margin-top: 10px;
    float: left;
}

.menu {
    float: right;
    margin-top: 15px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #FFF;
    margin-left: 25px;
}

.menu li a:hover {
    color: #962D3E;
}

.hero {
	width: 100%;
	height: 450px;
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hero-inner {
	width: 100%;
	height: 450px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.hero-title {
    color: #FFF;
    text-align: center;
    margin-top: 150px;
    font-size: 2.5em;
    transtition: 
}

.main {
    width: 80%;
    float: left;
}

.main-title {
    color: #FFF;
    padding: 20px 0 10px 0;
}

.video {
    width: 47%;
    float: left;
    margin: 1%;
}

.video h3:hover, img:hover, img:hover {
    transform: scale(0.9);
    transition: transform .2s; 
}

.video h3 {
    color: #FFF;
}

.sidebar {
    width: 20%;
    float: right;
}

.subscribe-title {
    color: #FFF;
    padding: 22px 0 20px 0 ;
}

.footer {
    width: 100%;
    height: 70px;
    background: #191A1C;
    margin-top: 20px;
}

.footer p {
    color: #FFF;
    text-align: center;
    padding-top: 20px;
}
