* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #121314;
}

.container {
	width: 85%;
    margin: 0 auto;
}

img {
	max-width: 100%;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1;
}

.logo {
    color: #FFF;
    float: left;
}

.menu {
    float: right;
    margin-top: 15px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #FFF;
    margin-left: 25px;
}

.menu li a:hover {
    color: #183D5A;
}

.hero {
	width: 100%;
	height: 450px;
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hero-inner {
	width: 100%;
	height: 450px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.hero-title {
    color: #FFF;
    text-align: center;
    margin-top: 150px;
    font-size: 2em;
}

.main {
    width: 80%;
    float: left;
}

.main-title {
    color: #FFF;
    padding: 20px 0 10px 0;
}

.video {
    width: 47%;
    float: left;
    margin: 1%;
}

.video h3 {
    color: #FFF;
}

.sidebar {
    width: 20%;
    float: right;
}

.subscribe-title {
    color: #FFF;
    padding: 22px 0 20px 0 ;
}
